<% layout('layouts/boilerplate') -%>

<body>
    <div class="row">
        <div class="col-8 offset-2 mt-3">
    <h3>Create New Listings</h3>
    <form action="/listings" method="post" class="needs-validation" novalidate>
        <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" name="listing[title]" placeholder="enter title" required >
        <div class="invalid-feedback">
        Please write a Title.
      </div>
    </div>
    
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" name="listing[description]" placeholder="enter description"required>
        <div class="invalid-feedback">
            Please write a Description.
          </div>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="text" class="form-control" name="listing[image]" placeholder="enter URL">
            </div>
        <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
        <input type="text" class="form-control" name="listing[price]" placeholder="enter price" required>
        <div class="invalid-feedback">
            Please write a Price.
          </div>
    </div>
    <div class="mb-3 col-md-8">
        <label for="country" class="form-label">Country</label>
        <input type="text" class="form-control" name="listing[country]" placeholder="enter country">
    </div>
</div>
    <div class="mb-3">
        <label for="location" class="form label">Location</label>
        <input type="text" class="form-control" name="listing[location]" placeholder="enter location">
    </div>
        <button class="mb-3 add_btn btn">Add</button>
    </form>
</div>
</div>
</body>